// styles.scss
:root {
  --primary-color-light: #1fa500;
  --primary-color-dark: #d21c1c;
  --secondary-color-light: #f3f3f3;
  --secondary-color-dark: #231f20;
  --color-text-light: #ffffff;
  --color-text-dark: #000000;
  --black-color: #231f20;
  --black-light-color: #3f3d3e;
  --light-dark-color: #ccc8ca;
  --container-width: sm;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  color: var(--color-text); // Changer ici selon le thème initial
}

body.dark {
  --primary-color: var(--primary-color-dark);
  --secondary-color: var(--secondary-color-dark);
  --color-text: var(--color-text-light);
  --color-text-title: var(--primary-color-dark);
  background: var(--secondary-color-dark);
  --filter: blur(5px) brightness(1);
}
body.light {
  --primary-color: var(--primary-color-light);
  --secondary-color: var(--secondary-color-dark);
  --color-text: var(--color-text-dark);
  background: var(--secondary-color-light);
  --color-text-title: var(--primary-color-light);
  --filter: blur(5px) brightness(1) brightness(0.5) grayscale(60%);
}
.img-handle {
  height: "100%";
  filter: var(--filter);
}
.deleteButton {
  background-color: transparent;
  border: none; // Ajoutez cette ligne pour supprimer le cadre du bouton

  &:hover {
    color: var(--primary-color-dark); // Ajoutez vos styles au survol ici
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(
    --color-text-title
  ); /* Utilise la variable de couleur en fonction du thème */
}
.navbar_link {
  padding: 0 8px;
  display: flex;
  position: relative;
  text-decoration: none;
  color: var(
    --color-text
  ); // Utilise la variable --color-text pour définir la couleur du texte
  align-items: center;

  &:hover::after,
  &.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 5px;
    background-color: var(--primary-color);
  }

  &.active {
    color: var(--primary-color);
  }
}

.custom-link {
  color: var(--color-text-title) !important;
  text-decoration: underline; // Ajouter un soulignement
  // Ajouter d'autres styles personnalisés selon vos besoins
}

.custom-link:hover {
  color: var(--color-text) !important; // Changer la couleur au survol
}

.logo {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.textAcceuil {
  color: var(--secondary-color-light);
}

.img-planetes-index {
  width: fit-content !important;
}

.img-planetes-index > img {
  object-fit: cover;
  width: 400px;
  height: 350px;
}

.img-detail-event {
  width: fit-content !important;
}
.img-detail-event > img {
  object-fit: cover;
  width: 200px;
  height: 120px;
}
.img-event-detail {
  width: 100%;
}
.img-detail-event > img {
  object-fit: cover;
  width: 100%;
}

.img-planet-detail {
  max-width: 60%;
}
.caroussel-container {
  max-height: 600px; /* Remplacez cette valeur par la hauteur maximale souhaitée */
  max-width: 600px; /* Remplacez cette valeur par la largeur maximale souhaitée */
  margin-left: 30%;
}

.img-planet-detail > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.titre-detail {
  background-color: var(--primary-color);
  color: var(--color-text);
  display: inline;
}
/* Ajoutez ces styles à votre feuille de style CSS ou dans le style inline MUI */
.img-profil {
  width: 100%; /* Utilisez 100% de la largeur disponible */
  max-width: 400px; /* Définissez une largeur maximale si nécessaire */
}

.img-profil > img {
  object-fit: cover;
  width: 100%; /* Utilisez 100% de la largeur disponible */
  height: 100%; /* Utilisez 100% de la hauteur disponible */
  max-width: 400px; /* Définissez une largeur maximale si nécessaire */
  max-height: 350px; /* Définissez une hauteur maximale si nécessaire */
}
